{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}


{% block body %}

    <style>
        input, textarea {
            width: 100%;
        }
    </style>

    <div class="d-flex justify-content-between align-items-center pb-5">
        <h2>Ajouter une série</h2>
        <a href="{{ path('series_index') }}" class="btn btn-secondary text-white">← Retour à la liste</a>
    </div>

    <form method="POST">
        <div>
            <input type="text" name="title" placeholder="Nom">
        </div>
        <div>
            <input type="url" name="poster_url" placeholder="Poster URL">
        </div>
        <div>
            <select name="type" id="type_select">
                <option value="Série">Type</option>
                <option value="Série">Série</option>
                <option value="Mini série">Mini série</option>
                <option value="Web série">Web série</option>
                <option value="Série d'animation">Série d'animation</option>
                <option value="Émission">Émission</option>
                <option value="K-drama">K-drama</option>
                <option value="Anime">Anime</option>
            </select>
        </div>
        <div>
            <input type="text" name="country" placeholder="Pays">
        </div>
        <div>
            <input type="number" name="release_date" placeholder="Date">
        </div>
        <div>
            <input type="text" name="platform" placeholder="Plateforme">
        </div>
        <div>
            <input type="number" name="nb_season" placeholder="Nombre de saisons">
        </div>
        <div>
            <textarea type="text" name="synopsis" placeholder="Synopsis"></textarea>
        </div>
        <div>
            <select name="status" id="status_select">
                <option value="finie">Status</option>
                <option value="finie">Finie</option>
                <option value="annulee">Annulée</option>
                <option value="en_production">En production</option>
                <option value="en_diffusion">En cours de diffusion</option>
                <option value="a_venir">À venir</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Ajouter</button>
    </form>

{% endblock %}
